.calculator {
  width: 400px; 
  margin: 50px auto;
  border: 2px solid #3498db; 
  padding: 20px; 
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.result {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  font-size: 20px;
  padding: 10px; 
  box-sizing: border-box; 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
}

.buttons button {
  padding: 15px; 
  font-size: 20px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff; /*
  border: none; 
  border-radius: 5px;
}
.history-container{
  width: 400px;
  margin: 0 auto;
  border: 2px solid #3498db;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.history {
  margin-top: 30px; 
  text-align: left;
  font-size: 16px; 
  line-height: 1.5;
}
.history-divider {
  margin-top: 10px; 
  border: none; 
  border-top: 1px solid #ccc; 
}
.computation-divider {
  margin: 10px 0; /* Adjust margin as needed */
  border: none; /* Remove default border */
  border-top: 1px solid #ccc; /* Add top border */
}
